
#textAlign {
    text-align: center;
}
body {
    background-image: url("background.jpg");
    background-size: cover;
}
.page-header {
    border-color: white;
}

.jumbotron {
 background-color: white;
}

.errors{
    padding: 10px;
    background-color:#ccc;
    margin-bottom: 20px;
    min-height: 0px;
    
}
.errors p{
    color: red;
}